# --- Web Server & API ---
fastapi
uvicorn
python-multipart
sse-starlette
httpx

# --- Authentication & Security ---
python-dotenv
pymongo
PyJWT
passlib[bcrypt]
email-validator
google-auth
google-auth-oauthlib
google-api-python-client

# --- Core RAG & AI Libraries (GROQ & HF) ---
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-groq
sentence-transformers

# The local vector database
chromadb

# --- Document Processing & Data Handling ---
pandas
openpyxl
pypdf
python-docx
unstructured